@model StorageContentPlatform.Web.Models.StatisticsController.IndexViewModel

@{
    ViewData["Title"] = "Storage Statistics";
}

<h3>Storage Statistics</h3>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
           From
        </dt>
        <dd class = "col-sm-10">
            @Model.FromFilter.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">
            To
        </dt>
        <dd class = "col-sm-10">
            @Model.ToFilter.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
    </dl>
    <div class="accordion" id="notes">
        <div class="accordion-item">
            <div class="accordion-header" id="queryStringParam">
                <button class="accordion-button h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQueryStringParam" aria-expanded="true" aria-controls="collapseQueryStringParam">
                    Querystring parameters
                </button>
            </div>
            <div id="collapseQueryStringParam" class="accordion-collapse collapse" aria-labelledby="queryStringParam" data-bs-parent="#notes">
                <div class="accordion-body h6">
                    <text class="font-monospace">dayHistory</text> : number of day to retrieve. Default = 30.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header" id="exportParam">
                <button class="accordion-button h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExportParam" aria-expanded="true" aria-controls="collapseExportParam">
                    Export data
                </button>
            </div>
            <div id="collapseExportParam" class="accordion-collapse collapse" aria-labelledby="exportParam" data-bs-parent="#notes">
                <div class="accordion-body h6">
                    Call url <text class="font-monospace">/statistics/export?dayHistory=30</text> to download CSV file for the last <text class="font-monospace">dayHistory</text> days.
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Inventory Date</th>
            <th>Total</th>
            <th>Hot Tier</th>
            <th>Cool Tier</th>
            <th>Cold Tier</th>
            <th>Archive Tier</th>
            <th>Metadata</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statistics)
        {
            <tr>
                <td>
                    @item.InventoryStartTime.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td>
                    @item.ObjectCount blobs
                    <br/>
                    @item.TotalObjectSizeInMBytes Mb
                </td>
                <td>
                    @item.ObjectInHotCount blobs
                    <br/>
                    @item.TotalObjectInHotSizeInMBytes Mb
                </td>
                <td>
                    @item.ObjectInCoolCount blobs
                    <br />
                    @item.TotalObjectInCoolSizeInMBytes Mb
                </td>
                <td>
                    @item.ObjectInColdCount blobs
                    <br />
                    @item.TotalObjectInColdSizeInMBytes Mb
                </td>
                <td>
                    @item.ObjectInArchiveCount blobs
                    <br />
                    @item.TotalObjectInArchiveSizeInMBytes Mb
                </td>
                <td>
                    @if(item.MetadataList!= null && item.MetadataList.Any())
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>
                    <a asp-action="Detail" asp-route-date="@item.InventoryStartTime.ToString("dd-MM-yyyy")">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
